{% extends '../base.html' %}
{% load bootstrap %}
{% block content %}
<div>
<table style="width:100%">
  <tr class="cabecalho_tabela">
    <th>Nome</th>
    <th>cidade</th>
    <th>Editar</th>
    <th>Listar Livros</th>
    <th>Novos Exemplares</th>
    <th>Novos Livros</th>
    <th>Emprestimo</th>
  </tr>
  {% for c in biblioteca %}
  <tr>
    <td><a href="../../livbib/lista_livros_biblioteca/{{c.nome}}">{{c.nome}}</a></td>
    <td>{{ c.cidade}}</td>
    <td><a href="../../biblioteca/atualiza/{{c.nome}}">Editar</a></td>
    <td><a href="../../item/lista_nome/{{c.nome}}">Livros</a></td>
    <td><a href="../../livbib/lista/{{c.nome}}">Novos Exemplares</a></td>
    <td><a href="../../livbib/inserir">Novos Livros</a></td>
    <td><a href="../../emprestimo/lista">Listar</a></td>

  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}
